doctype html
html(lang="en")
  head
    title= Argos_hukd
    script(type="text/javascript" src="js/jquery.js")
    script(src="js/api_caller.js")
    style(type='text/css').
      body{font-family:Sans-Serif; font-size:14px;background-color:#f0f0f0;}
      #deals{list-style:none;}
      #deals li{
        display: inline-block;
        margin: 4px;
        padding: 20px;
      }
      #deals li .temp{
        display: block;
        float: left;
        padding: 8px;
        background-color: #e74848;
        color: #fff;
      }
      #deals li .price{
        display: block;
        float: right;
        padding: 8px;
        background-color: #3691d4;
        color: white;
      }
      #deals li .deal_wrap{
        position: relative;
        display: block;
        clear: both;
        padding: 20px;
        border: 1px solid #959595;
        width: 152px;
        height: 320px;
        background-color: #fbfbfb;
        box-shadow: 2px 2px 2px rgba(149, 149, 149, 0.25);
        overflow: auto;
      }
      #deals li .deal_wrap:hover{border:1px solid #7d7d7d; background-color:#fff;}
      #deals li .deal_wrap .product_image{
        display: block;
        margin: 0px auto;
        border: 1px solid #afafaf;
        text-align: center;
        width: 150px;
        height: 150px;
      }
      #deals li .deal_wrap .price_diff{
        display: block;
        margin-top: 12px;
        padding: 6px;
        text-align: center;
        background: #EE3124;
        color: #fff;
      }
      #deals li .deal_wrap .desc{
        margin-top: 12px;
        color: #6e6e6e;
      }
      #deals li .deal_wrap .argos_link{
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: block;
        padding: 8px;
        background-color: #EE3124;
        color: #fff;
        text-decoration: none;
      }
      #deals li .deal_wrap .argos_link:hover{
        background-color: #c92d22;
      }
      #deals li .deal_wrap .more{
        color: #3691d4;
      }

  body
    div#content
      button#loadTopTen Load top 10 Argos deals
      ul#deals
