doctype html
html(lang="en")
  head
    title= Argos_hukd
    script(type="text/javascript" src="js/jquery.js")
    script(src="js/api_caller.js")
  body
    div#content
      button#loadTopTen Load top 10 Argos deals
      div#deals
        ul
          li deal 1
          li deal 2
          li deal 3
          li deal 4
          li deal 5
          li deal 6
          li deal 7
          li deal 8
          li deal 9
          li deal 10
